@model IEnumerable<FantasyFootballApp.Models.Ranking>

<table class="table table-bordered table-condensed table-hover" id="rankingtable">
    <tr>
        <th>Rank</th>
        <th>RIP</th>
        <th>Player</th>
        <th>Position</th>
        <th>Team</th>
    </tr>

    @if (Model.Count().Equals(0))
    {
        <p>No data available</p>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="cell-@item.Player.Position.Abbreviation.ToLower()">
                <td>@item.Rank</td>
                <td>@item.RankInPos</td>
                <td>@item.Player.PlayerName</td>
                <td>@item.Player.Position.Abbreviation</td>
                <td>@item.Player.Team.Abbreviation</td>
            </tr>
        }

    }
</table>
    